.title--artist {
    margin-bottom: 15px;
    margin-top: 28px;
    color: #C48793;
}

.table-data {
    margin-bottom: 31px;
}

.table-data td,
.table-songs td,
.table-titles th {
    padding: 6px;
    border-color: rgb(250, 236, 252);
}

.table-data tr {
    width: 100%;
}

.table-data tr:first-child td,
.table-titles th {
    border-top: none;
}

.table-data td:first-child {
    width: 40%;
}

.crown {
    margin: auto;
    margin-bottom: 6px;
    margin-top: 5px;
}

.container--artist {
    background-color: #FEFCFF;
}

.form__button--albumsInfo {
    margin-bottom: 20px;
}

.album-image-table {
    width: 100%;
    display: flex;
    margin-top: 15px;
    margin-bottom: 22px;
    /* flex-wrap: nowrap; */
}

.title-table {
    width: 100%;
    margin-left: 22px;
    display: flex;
    flex-wrap: wrap;
}

.table thead th {
    border-bottom: 2px solid rgb(250, 236, 252);
}