.app-main-page {
    background-color: rgb(250, 236, 252);
    /* background-color: #EBE8DD; */
    /* background-color: #FFF5EE; */
}

.page-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    cursor: default;
    /* background-color: #fff; */
    /* flex-direction: column; */
    /* width: 800px; */
}